<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>회원가입</title>
    <link href="/favicon.ico" rel="icon">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>회원가입</h1>
<form class="join-form" id="joinForm">
    <label for="email">이메일 : </label>
    <input id="email" name="email" type="email">

    <label for="username">아이디 : </label>
    <input id="username" name="username" type="text">

    <label for="password">비밀번호 : </label>
    <input id="password" name="password" type="password">

    <label for="firstname">퍼스트 네임(이름) : </label>
    <input id="firstname" name="firstname" type="text">

    <label for="lastname">라스트 네임(성) : </label>
    <input id="lastname" name="lastname" type="text">

    <label for="phone">전화번호 : </label>
    <input id="phone" name="phone" type="text">

    <label for="city">도시</label>
    <input id="city" name="city" type="text">

    <label for="street"> 도로 : </label>
    <input id="street" name="street" type="text">

    <label for="street">도로 번호 : </label>
    <input id="streetNumber" name="streetNumber" type="text">

    <label for="zipcode">우편번호 : </label>
    <input id="zipcode" name="zipcode" type="text">
    <button>회원가입</button>
</form>
<script src="/js/join.js"></script>
</body>
</html>