/* ----------------------------------------- avatar ------------------------------------------------------------ */
body{
    text-align: center;
    margin: 20px;
}

.avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    border: 2px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-container img{
    max-width: 100%;
    max-height: 100%;
}

#btnAvatar {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: yellowgreen;
    color: white;
    cursor: pointer;
}

#btnAvatar:hover {
    background-color: green;
}

/* ----------------------------------------- randomLogo ------------------------------------------------------------ */

body{
    text-align: center;
    margin: 20px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    margin: 20px auto;
    overflow: hidden;
}

#btnLogo {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: yellowgreen;
    color: white;
    cursor: pointer;
}

#btnLogo:hover {
    background-color: green;
}