<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유저들</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>유저들 정보</h1>
<div class="person-container" id="persons"></div>
</body>
<script>
    function getPersons() {
        $.ajax({
            url: "/api/person",
            method: "GET",
            success: function (data) {
                $.each(data, function (index, person) {
                    let persons = `
                    <div class="person">
                        <h2><a href="/persons/detail?id=${person.id}"> ${person.id}번 ${person.username} </a></h2>
                    </div>
`;
                    $("#persons").append(persons);
                });
            }
        });
    }

    getPersons();
</script>
</html>