<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="icon" href="favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="logo-container">
    <img id="logo" src="https://www.logotypes.dev/spotify" alt="Logo">
</div>
<button id="btnLogo">새로운 로고 생성하기</button>
</body>
<script>

    function loadLogo(){
        $.ajax({
            url: 'https://www.logotypes.dev/random/data?vartiant=glyph',
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                $('#logo').attr('src', data.logo);
            },
            error: function () {
                alert('로고를 불러오는데 실패했습니다.');
            }
        });
    }

    $('#btnLogo').click(function(){
        loadLogo();
    });
</script>
</html>
